.plan {
  background-color: #303133;
  &__demo {
    transform: translateY(-30.2%);
    .pd-9 {
      border-left: 1px solid #eaeaea;
      padding: 54px;
      background-color: #f7f7f7;
      text-align: center;
      .plan__demo-text {
        .text__price {
          h3 {
            font-size: 35px;
            color: #303133;
          }
        }
        .text__name {
          margin-top: 18px;
          h4 {
            font-size: 14px;
            color: #303133;
            font-weight: 500;
          }
        }
        .text__describle {
          margin-top: 18px;
          p {
            font-size: 14px;
            line-height: 1.75;
            margin-bottom: 54px;
            color: #777;
          }
        }
      }

      .plan__demo-button {
        .button-link {
          text-decoration: none;
          border-radius: 10em;
          border: 1px solid #e9168c;
          padding: 14px 40px 14px 40px;
          background-color: #e9168c;
          color: #ffffff;
          font-weight: 600;
          font-size: 14px;
        }
        .button-link:hover {
          background-color: #ffff;
          color: #303133;
          font-weight: 500;
          transition: 1s;
        }
        // padding: ;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .plan__demo {
    width: 100%;
    transform: translateY(-15.2%);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .pd-9 {
    width: 50%;
    transform: translateY(-15.2%);
  }
}
